@import "tailwindcss";

/* Дополнительные базовые стили и анимации */
@layer base {
  body {
    overflow-x: hidden;
    max-width: 100vw;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  }
}

@keyframes scroll {
  0% { transform: translateY(0); }
  50% { transform: translateY(8px); }
  100% { transform: translateY(0); }
}

.animate-scroll {
  animation: scroll 1.8s infinite ease-in-out;
}

html {
  scroll-behavior: smooth;
}


/* Дополнительная защита */
* {
  box-sizing: border-box;
}

/* Убираем возможный скролл у контейнеров */
.max-w-7xl {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Адаптация под мобильные */
@media (max-width: 640px) {
  .max-w-7xl {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* pointer  */
button,
a,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
select,
textarea,
[role="button"],
[tabindex]:not([tabindex="-1"]) {
  cursor: pointer;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea {
  cursor: text;
}

/* Для disabled */
button:disabled,
a:disabled,
button[disabled],
a[disabled] {
  cursor: not-allowed !important;
}